.home {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 30px;
  height: 100%;
}

.home__title {
  font-size: 28px;
  font-weight: 600;
  color: white;
}

.home__container {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home__formContainer {
  box-shadow: 1px 4px 12px -2px rgba(0, 0, 0, 0.43);
  background-image: linear-gradient(
    to right top,
    #051937,
    #004d71,
    #008793,
    #00bf72,
    #a8eb12
  );
  padding: 30px;
  width: 500px;
}

.home__formContainer input{
    border:1px solid #e5e5e5;
    outline:none;
    padding: 15px 10px;
    width:80%;
    border-radius: 8px;
    margin: 10px 0;
    background: transparent;
    color:white;
    font-size: 14px;
}

.home__container input:disabled{
    background-color: #e5e5e55a;
}

.home__formContainer input::placeholder{
color:#e5e5e5;
}

.home__formContainer button{
    background: transparent;
    border:1px solid white;
    outline: none;
    font-size: 18px;
    color:white;
    padding: 10px;
    width:200px;
    margin-top: 30px;
    border-radius: 12px;
    cursor: pointer;
}